<form #form="ngForm" (ngSubmit)="createContact(form)">
    <div class="container mt-5 bg-form">
      <h2 class="text-center mb-4 fw-bold">HubSpot Leads</h2>
      <div class="row g-3">
  
        <!-- First Name -->
        <div class="col-md-6">
          <label for="firstname" class="form-label fw-bold">First Name</label>
          <input type="text" maxlength="128" id="firstname" class="form-control" 
                 [(ngModel)]="lead.properties.firstname" placeholder="First Name" 
                 name="firstname" required>
        </div>
  
        <!-- Last Name -->
        <div class="col-md-6">
          <label for="lastname" class="form-label fw-bold">Last Name</label>
          <input type="text" id="lastname" maxlength="128" class="form-control" 
                 [(ngModel)]="lead.properties.lastname" placeholder="Last Name" 
                 name="lastname" required>
        </div>
  
        <!-- Mobile -->
        <div class="col-md-6">
          <label for="phone" class="form-label fw-bold">Mobile</label>
          <input type="text" id="phone" pattern="[6789][0-9]{9}" 
                 class="form-control" placeholder="Mobile" maxlength="13" 
                 [(ngModel)]="lead.properties.phone" name="phone" required>
        </div>

  
        <!-- Email -->
        <div class="col-md-6">
          <label for="email" class="form-label fw-bold">Email</label>
          <input type="email" id="email" class="form-control" maxlength="128" 
                 [(ngModel)]="lead.properties.email" placeholder="Email" 
                 name="email" required>
        </div>
  
         <!-- Company -->
         <div class="col-md-6">
          <label for="company" class="form-label fw-bold">Company</label>
          <input type="text" id="company" class="form-control" maxlength="128" 
                 [(ngModel)]="lead.properties.company" placeholder="Company" 
                 name="company">
        </div>
  
        <!-- Website -->
        <div class="col-md-6">
          <label for="website" class="form-label fw-bold">Website</label>
          <input type="url" id="website" class="form-control" maxlength="128" 
                 [(ngModel)]="lead.properties.website" placeholder="Website" 
                 name="website">
        </div>

  
        <!-- Message -->
         <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <label for="jobtitle" class="form-label fw-bold">Message</label>
                    <textarea id="jobtitle"  class="form-control" rows="2" 
                              [(ngModel)]="lead.properties.jobtitle" name="jobtitle" required></textarea>
                </div>
            </div>
         </div>
  
        <!-- Submit Button -->
        <div class="col-12 text-center mt-4">
          <button type="submit" class="btn btn-primary btn-lg px-5" >Submit</button>
        </div>
  
      </div>
    </div>
  </form>
  