<form #leadForm="ngForm" (ngSubmit)="onSubmit(leadForm)">
  <div class="modal-body" style="min-height: 440px;">
    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
      <div class="col-md-6 form-group required mb-2">
        <label class="col-form-label fw-normal w-100" for="name">
          {{ "First Name"  }}
        </label>
        <input type="text" class="form-control" placeholder="First Name"name="name"id="name1"
         maxlength="128"  required ngModel
        />
      </div>

      <div class="col-md-6 form-group mb-2">
        <label class="col-form-label fw-normal w-100" for="surname">
          {{ "Last Name" }}
        </label>
        <input  type="text" class="form-control" placeholder="Last Name" name="surname" 
        id="surname1" maxlength="128" ngModel
        />
      </div>

      <div class="col-md-6 form-group required mb-2">
        <label class="col-form-label fw-normal w-100" for="phoneNumber">
          {{ "Mobile"  }}
        </label>
        <input type="tel" pattern="[6789][0-9]{9}" class="form-control" placeholder="Mobile" 
        name="phoneNumber" ngModel id="phoneNumber1" maxlength="128" required/>
      </div>

      <div class="col-md-6 form-group required mb-2">
        <label class="col-form-label fw-normal w-100" for="emailAddress">
          {{ "Email"  }}
        </label>
        <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+$" class="form-control" placeholder="Email"
          name="emailAddress" id="emailAddress1" maxlength="128" required ngModel />
      </div>

      <div class="col-md-6 form-group mb-2">
        <label class="col-form-label fw-normal w-100" for="surname">
          {{ "Massages" }}
        </label>
        <textarea id="message" name="message"  style="width: 500px;" required ngModel></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
