.form-label {
    font-weight: bold;
    // flex-direction: row;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  textarea {
    resize: none;
  }

  h2 {
    color: #c2cad3;
  }
  
  .bg-form {
    background-color: #577960;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
  }